<form class="formstyle" action="" #form>
  <h2 class="field">New Recipe</h2>
  <div>
    {{recipe.name}}
  </div>

  <div class="mat-elevation-z8" style="width: 95%">
    <table mat-table [dataSource]="dataSource" matSort width="100%">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef width="10%"> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.product.name}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> Category </th>
        <td mat-cell *matCellDef="let row"> {{row.product.category.name}} </td>
      </ng-container>

      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef width="10%"> Amount </th>
        <td mat-cell *matCellDef="let row"> {{row.amount}} {{row.product.unit}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</form>


