<mat-nav-list class="fixing">
  <br>
  <h2 matSubheader>Navigation</h2>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    Dashboard
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/constructions/create">
    Products
  </a>

  <mat-divider></mat-divider>


  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/protocols">
    Action History
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/customers">
    Recipes
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/customers/create">
    Production
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>

