<form class="formstyle" action="" #form>
  <h2 class="field">New Product</h2>
  <div>
    <mat-form-field class="field" style="width: 95%">
      <input id="name" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Name" [(ngModel)]="product.name">
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="field" style="width:95%">
      <mat-label>Category</mat-label>
      <mat-select id="category" [ngModelOptions] ="{standalone: true}" required [(ngModel)]="product.category">
        <mat-option (click)="onCreateNewCategory()">+ New category</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
      </mat-select>
      <mat-error>Diesem Feld muss etwas zugewiesen werden!</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="field" style="width: 48%">
      <input id="street" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Amount" [(ngModel)]="product.amount">
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
    <mat-form-field class="field" style="width:45%">
      <input id="city" type="text" [ngModelOptions] ="{standalone: true}" required matInput placeholder="Unit" [(ngModel)]="product.unit">
      <mat-error>Dieses Feld muss ausgefüllt werden!</mat-error>
    </mat-form-field>
  </div>
  <div class="safeButtons">
    <button class="buttonSelf" mat-raised-button color="warn" type="submit" (click)="onClose()">Back</button>
    <button class="buttonSelf" mat-raised-button color="primary" type="submit" [disabled]="!form.checkValidity()" (click)="onSubmit()">Save and Close</button>
  </div>
</form>
