<h3>Comments</h3>
<div *ngIf="comments !== null; else noComments">
    <div *ngFor="let comment of comments">
        <h5>{{comment.name}} {{comment.createdStr}}</h5>
        <p>{{comment.text}}</p>
    </div>
</div>
<ng-template #noComments>No comments yet.</ng-template>

<h4>Create new Comment</h4>
<input [(ngModel)]="newCommentName" type="text" placeholder="name"/><br/>
<input [(ngModel)]="newCommentMail" type="text" placeholder="mail"/><br/>
<textarea rows="4" cols="50" [(ngModel)]="newCommentText"></textarea><br/>
<button (click)="createComment()">Create</button>